*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    margin: 0;
    background: linear-gradient(45deg, #0a0a0a, #3a4452);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}
#display{
    width: 100%;
    padding: 20px;
    border:none;
    /* background: transparent; */
    border-radius: 20px;
    /* color: aliceblue; */
    color: #717377;
    box-shadow: 0px 3px 15px rgbs(84, 84, 84 0.1);
    text-align: right;
    font-size: 5rem;
    cursor: pointer;
}
.keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
}

.calculator{
    border: 1px solid #717377;
    background: transparent;
    padding: 20px;
    max-width: 500px;
    overflow: hidden;
    border-radius: 16px;
    box-shadow: 0px 3px 15px rgba(113, 115, 119, 0.5);
}

button{
    cursor: pointer;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: none;
    font-size: 3rem;
    font-weight: bold;
    color: white;
    background: transparent;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1);
    /* color: #0c213c;
    background-color: rgb(78, 255, 143); */
}

button:hover{
    background-color: rgb(53, 255, 252);
}
button:active{
    background-color: #0c213c;
    color:aliceblue;
}

.btn-operator{
    background: transparent;
    color: #ee0a0a;
    /* color: #62ff07; */
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1);
}

.equalbtn{
    background-color: #fb7c14;
}
